@media screen and (max-width: 330px) {
  #screen {
    margin: 1rem .5rem 0 0;
    padding: .75rem 0;
  }
  .buttons-container {
    margin-top: 1rem;
  }
  button {
    height: 1.5rem;
    width: 2.25rem;
  }
}

@media screen and (min-width: 760px) {
  #screen {
    margin-top: 4rem;
    padding: 1.5rem 0;
  }
  #screen-message {
    font-size: 1.2rem;
  }
  .buttons-container {
    margin-top: 4rem;
  }
  button {
    height: 3rem;
    width: 5.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .app {
    height: 80%;
    border-radius: 5rem;
  }
  #screen {
    margin-top: 2rem;
    padding: 1.5rem 0;
  }
  .buttons-container {
    margin-top: 2rem;
  }
  button {
    height: 3.5rem;
    width: 6rem;
  }
  .developer-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
  }
}